
<%= params %>

<div class="row">
  <div class="col-md-8">
    <h4>Title</h4>
    <%= @question.title %>
    <h4>Body</h4>
    <%= @question.body %>
    <h4>Resolved</h4>
    <%= @question.resolved %>
  </div>


  <div class="col-md-4">
    <%= link_to "Edit", edit_question_path(@question), class: 'btn btn-success' %>
    <%= link_to "Delete", @question, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete?'} %>
  </div>

</div>
