<h1>New Advertisements</h1>
<p>Guidelines for Advertisements</p>


<div class="container">
  <div class="row">
  <!-- column 1 -->
    <div class="col-md-4">

      <ul>
        <li>Enter a good movie not a bad one</li>
        <li>Do not use the acronym ASU</li>
        <li>When in doubt, refer to movies where U of A appeared (Revenge of the Nerds, Can't buy me love) or movies involving a character named Skywalker.</li>
      <ul>
    </div>
<!-- column 2 -->
    <div class="col-md-8">
        <%= form_for @advertisement do |ad| %>
          <div class="form-group" class: 'form-control', placeholder: "Enter ad title">
          <%= ad.label :title %>
          <%= ad.text_field :title, rows: 8, class: 'form-control', placeholder: "Enter ad title" %>
          </div>

          <div class="form-group" class: 'form-control', placeholder: "Enter ad copy">
          <%= ad.label :copy %>
          <%= ad.text_area :copy, rows: 8, class: 'form-control', placeholder: "Enter ad copy" %>
          </div>

          <div class="form-group" class: 'form-control', placeholder: "Enter ad price">
          <%= ad.label :price %>
          <%= ad.text_field :price, rows: 8, class: 'form-control', placeholder: "Enter ad price" %>
          </div>


          <div class="form-group">
          <%= ad.submit "Save", class: 'btn btn-success'%>
          </div>
        <% end %>
    </div>
  </div>
</div>
